.navbar-list {
  background-color: var(--bg-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.navbar-list li {
  display: inline;
  color: white;
  font-size: larger;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  /* border-top: var(--bg-color); */
}

.nav-btn {
  background-color: var(--bg-color);
  border: none;
  color: white;
  font-size: 25px;
  padding: 10px 10px;
  cursor: pointer;
}

.footer-btn {
  background-color: white;
  border: none;
  color: black;
  font-size: 25px;
  padding: 10px 10px;
  cursor: pointer;
}

.theme-btn {
  width: 3em;
  height: 3em;
  padding: 1.6em;
  border-radius: 50%;
  cursor: pointer;
  /* border: none; */
  background-color: transparent;
}
.crypto-header,
.transaction-header {
  padding-bottom: 0px;
  /* border-bottom: 2px solid #f60; */
  border-bottom: 2px solid var(--border-color);

  margin: 0 10px;
  /* flex: 0 0 auto; */
  position: relative;
}

.crypto-header h2,
.transaction-header h2 {
  padding: 0;
  margin-top: 10px;
  border-bottom: 0;
  font-size: 16px;
  line-height: normal;
}

.container-cryptocards,
.container-transactioncards {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
}

.cryptocards {
  /* background-color: #9b9b9b; */
  background-color: #e0e0e0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 120px 110px 65px 47px;
}

.cryptocards-btn {
  margin-top: 25px;
  background-color: #9b9b9b;
}

.transactioncards {
  background-color: #e0e0e0;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 70px 130px 140px;
}

.coin-img {
  margin: 5px 5px;
}

body {
  background-color: #c2c2c2 !important;
  font-family: sans-serif;
}

:root,
:root.orange {
  --bg-color: #fd7e14;
  --border-color: #fd7e14;
}
:root.red {
  --bg-color: #dc3545;
  --border-color: #dc3534;
}

:root.blue {
  --bg-color: #007bff;
  --border-color: #007bff;
}
:root.green {
  --bg-color: #007f4f;
  --border-color: #007f4f;
}
